<% @title = "ログイン" %>

<div id="login-form">
  <h1><%= @title %></h1>

  <%= form_with model: @form, url: :admin_session do |f| %>
    <div>
      <%= f.label :name, "ユーザー名" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :pawwsoed, "パスワード" %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "ログイン" %>
    </div>
  <% end %>
</div>