<%
  if request.fullpath.include? "page"
    @current_page = request.fullpath.split("page=")[1]
  end
%>
<%
  if @keyword.present? || @mark.present?
    if @keyword.present?
      if @current_page.present?
        @title = "ブログページ　カテゴリ：#{@keyword}　#{@current_page}ページ"
      else
        @title = "ブログページ　カテゴリ：#{@keyword}"
      end
    elsif @mark.present?
      if @current_page.present?
        @title = "ブログページ　タグ：#{@mark.mark_name}　#{@current_page}ページ"
      else
        @title = "ブログページ　タグ：#{@mark.mark_name}"
      end
    end
  else
    if @current_page.present?
      @title = "ブログページ　アーカイブ　#{@current_page}ページ"
    else
      @title = "ブログページ"
    end
  end
%>

<h1>ブログページ</h1>
<%= content_tag(:span, flash.notice, class: "notice") if flash.notice %>
<%= content_tag(:span, flash.alert, class: "alert") if flash.alert %>

<% if @mark.present? %>
  <%= @mark.mark_name %>
<% end %>

<ul class="menu">
  <% @blogs.each do |b| %>
    <li>
      <%= link_to blog_path(b) do %>
        <% if b.thumb.attached? %>
          <%= image_tag b.thumb.variant(resize: "150x150").processed %>
        <% end %>
        <span><%= b.title %></span>
      <% end %>
    </li>
  <% end %>
  <%= paginate @blogs %>
</ul>

<ul class="category-menu">
  <%= link_to "オール", category_path(keyword: "") %>
  <%= link_to "グルメ", category_path(keyword: "グルメ") %>
  <%= link_to "レジャー", category_path(keyword: "レジャー") %>
  <%= link_to "ファッション", category_path(keyword: "ファッション") %>
  <%= link_to "コラム", category_path(keyword: "コラム") %>
</ul>

<%= form_with url: :tag_search, method: :get do |f| %>
  <%= f.text_field :mark_name %>
  <%= f.submit "タグ検索" %>
<% end %>