<% @title = "新規投稿" %>

<div id="post-form">
  <h1><%= @title %></h1>

  <%= form_with model: @blog, url: :admin_post_blogs do |f| %>
    <div>
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :author, "著者" %>
      <%= f.text_field :author %>
    </div>
    <div>
      <%= f.label :image, "カテゴリー-" %>
      <%= f.select :image, [["グルメ", "グルメ"],["レジャー", "レジャー"],["ファッション", "ファッション"],["コラム", "コラム"]], include_blank: "カテゴリー" %>
    </div>
    <div>
      <%= f.file_field :thumb %>
    </div>
    <div>
      <%= f.rich_text_area :content %>
    </div>
    <div>
      <%= f.text_field :mark_name %>
    </div>
    <div>
      <%= f.submit "投稿" %>
    </div>
  <% end %>
</div>