<% @title = @blog.title  %>

<div id="content">
  <h1><%= @title %></h1>

  <div>
    <% if @blog.thumb.attached? %>
      <%= image_tag @blog.thumb.variant(resize: '320x320').processed %>
    <% end %>
    <p><%= @blog.author %></p>
    <p><%= @blog.content %></p>
    <p><%= @blog.image %></p>
    <% @blog_marks.each do |mark| %>
      <span>
        <%= link_to mark.mark_name, admin_tags_path(mark_id: mark.id) %>
      </span>
    <% end %>
  </div>
</div>